footer.pageFooter.dkbreveFooter{
  @include gradient-vertical(#fff, #FFF);
  box-shadow: 0 -10px 6px -6px #ccc;
  font-family: $font-family-nav;
  padding: 20px 0 10px 0;


  margin:0;
  a{
    color:#666;
    text-decoration:none;
    &:hover{
      text-decoration:underline;
      color:#000;
    }
  }
  address{
    color:#666;
    margin-bottom:0;
  }
  ul{
    margin-bottom: 0;
  }
  img{
    width:32px;
  }
  hr{
    margin-top:7px;
    margin-bottom:7px;
  }
  h2{
    @extend .h3;
  }
  h4{
    @extend .h5;

  }
}