a {
  text-decoration: none !important;
}
// Contains tools for work
.workNavBar {
  form {
    @extend .pull-right;
  }
  .btn-group {
    .contentSearch, .tableOfContent, #emailLink, #citationLink, #feedbackLink {
      @extend .btn;
      @extend .btn-default;
      border: none;
      background: none;
      color: $gray-light;
      &:hover {
        background: $gray-lighter;
      }
    }
    #emailLink {
      &:before {
        @extend .glyphicon-envelope;
        @extend .glyphicon;
        position: relative;
        padding-right: 4px;
      }
    }
    #citationLink {
      &:before {
        @extend .glyphicon-pencil;
        @extend .glyphicon;
        position: relative;
        padding-right: 4px;
      }
    }
    #feedbackLink {
      &:before {
        @extend .glyphicon-comment;
        @extend .glyphicon;
        position: relative;
        padding-right: 4px;
      }
    }
  }
}

.search{
  padding: $grid-gutter-width 0;
  select{
    margin-right:$grid-gutter-width;
  }
}