#letter_container {
  width: 100%;
  header{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:10px;
    min-height: 60px;
  }
  article{
    padding-top: 10px;
  }

  &.nometa {
    .letter-metadata {
      width: 4%; //32px;
      overflow-x: hidden;
      header .glyphicon-chevron-left {
        transform: rotate(-180deg);
      }
      article {
        opacity: 0;
      }
    }
    .textAndFacsimileContainer {
      width: 96%;
    }
  }
}

