#letter_container {

  width: 100%;
  header{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:10px;
    min-height: 60px;
  }
  article{
    padding-top: 10px;
  }



  .row div {

    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
  }

  .nometa {
    header .glyphicon-chevron-left{
      transform:rotate(-180deg);
    }
    article{
      opacity:0;
      height:0px;
    }
  }
}

#kbOSDInstance {
  height: 450px;
}
