$letter-landingpage-header-height: 42px;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab);

$font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif;
$font-family-serif:       'Roboto Slab', Times New Roman, Times, serif;
$font-family-base:        $font-family-sans-serif;
$font-family-nav:         'Roboto Condensed', Helvetica, Arial, sans-serif;

$brand-primary:           #727272;
$brand-secondary:         #daba85;
$blured-bg:               rgba(218,186,133,0.05);
$blue:                    #82A3D9;

$navbar-default-bg:      $blured-bg;
$progress-bg:            $blured-bg;
$well-bg:                $blured-bg;
$navbar-default-bg:      $blured-bg;
$list-group-hover-bg:    $blured-bg;
$panel-default-heading-bg: $blured-bg;
$input-group-addon-bg:$blured-bg;

$input-border-focus:$brand-secondary;

$state-success-text: #727272;

// Max size of the letter and actual size of the openseadragon view
$letter-page-height: 580px;