<div class='panel panel-default'>
  <div class="panel-heading">Søge tips</div>
  <div class="panel-body">
    <ul class="advanced-help">

     <li>Kombiner søgertermer for at finde
     </li>

     <li>Brug " for at søge efter en sætning
     
     <li>Brug "+" før et ord hvis resultatet skal indeholde dette ord.</li>
     
     <li>Brug "-" for at udelukke ord fra søgningen.

     <li>Brug "OR", "AND", and "NOT" til mere avancerede søgninger. </li>
     <li>Bemærk at systemet understøtter ikke wildcards. Truncation udføres automatisk af systemet</li>
   </ul>
  </div>
</div>