<div id="cookie-button" class="alert alert-info text-center" role="alert" style="display: none;">

  <!--When the user press the x button, a cookie is set for 60 days-->
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="cookieTerms('terms', 'true', 60)">
    <span aria-hidden="true">&times;</span>
  </button>

  <p>
    På Danmarks Breve bruger vi cookies til at huske dine indstillinger samt indsamle statistik.
  </p>

  <p>
    <%= link_to 'Læs mere', page_path('politik'), :class => 'btn btn-primary btn-sm' %>
  </p>
</div>

<div class="frontpage row">

  <div class="col-md-6 ">
    <a href="<%= page_path('about') %>">
      <div class="link-block-content box-shadow well">
        <div class="image image1 img-thumbnail">
        </div>
        <h3>Om danmarks breve</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae porttitor ligula. Nunc tempus orci nec lacus accumsan malesuada. Nulla.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum lectus, maximus ac quam non, finibus gravida urna. Curabitur fringilla venenatis mollis. Nullam ut elit.</p>
      </div>
    </a>
  </div>

  <a href="<%=  %>">
    <div class="col-md-6 ">
      <div class="link-block-content box-shadow well">
        <div class="image2 image img-thumbnail">
        </div>
        <h3>Har du brug for hjælp</h3>
        <p>Nunc eget hendrerit nisi, eget auctor turpis. Nullam ac orci ligula. Maecenas in imperdiet ipsum, at condimentum felis. Donec vestibulum ultrices laoreet. Curabitur aliquet dignissim lorem, eget aliquet mi condimentum quis. Curabitur ullamcorper tempor lorem ut efficitur.</p>
        <p>Integer laoreet, nulla sit amet molestie sollicitudin, tellus lorem interdum nisl, ac tincidunt ligula ipsum nec eros. Nullam et rutrum elit. Nullam a sodales ex.</p>
      </div>
    </div>
  </a>

</div>
</div>

