<div id="cookie-button" class="alert alert-info text-center" role="alert" style="display: none;">

  <!--When the user press the x button, a cookie is set for 60 days-->
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="cookieTerms('terms', 'true', 60)">
    <span aria-hidden="true">&times;</span>
  </button>

  <p>
    På Danmarks Breve bruger vi cookies til at huske dine indstillinger samt indsamle statistik.
  </p>

  <p>
    <%= link_to 'Læs mere', page_path('politik'), :class => 'btn btn-primary btn-sm' %>
  </p>
</div>

<div class="frontpage row">

  <div class="col-md-6 ">
    <a href="<%= page_path('about') %>">
      <div class="link-block-content box-shadow well">
        <div class="image image1 img-thumbnail">
        </div>
        <h3>Hvad er Danmarks Breve?</h3>
        <p>I Danmarks breve findes digitaliseringer af de trykte brevudgivelser fra Det Kgl. Bibliotek.
          Digitaliseringen gør det muligt at søge på tværs i brevudgivelserne og finde breve fra samme afsender,
          ligegyldigt hvilken brevudgivelse brevet er udkommet i. </p>
      </div>
    </a>
  </div>

  <a href="<%= page_path('help') %>">
    <div class="col-md-6 ">
      <div class="link-block-content box-shadow well">
        <div class="image2 image img-thumbnail">
        </div>
        <h3>Hvordan søger jeg?</h3>
        <p>Der kan søges frit i den fulde brevtekst, på brevets afsender, modtager, afsendelsessted eller modtagelsessted. </p>
      </div>
    </div>
  </a>

</div>
</div>

