<% @previous_document = @document["previous_id_ssi"] %>
<% @next_document = @document["next_id_ssi"] %>
<% @letter_number = @document["letter_number_isi"] %>
<% id = @document.id %>

<% if @document['cat_ssi']=='letter'%>
    <div id='previousNextDocument' class='pagination-search-widgets'>
      <% if @previous_document || @next_document %>
          <div class="page_links">
            <%= link_to t('.previous'), solr_document_path(id: @previous_document) if @previous_document.present? %> |
            <%# fail %>
            <%= @letter_number.to_i %> af  <%= Finder.get_num_of_letters(@document["volume_id_ssi"]) if @document['volume_id_ssi'].present? %> |

            <%= link_to t('.next'), solr_document_path(id: @next_document) if @next_document.present?%>
          </div>
      <% end %>
    </div>
<% end %>
