<% # bookmark/folder functions    -%>
<%= render_document_heading(document, :tag => :h1) %>

<% # bookmark/folder functions    -%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="workNavBar">
        <div class="btn-group" role="group">
          <%= render :partial => 'show_tools' %>
        </div>
      </div>
    </div>
  </div>
</div>