.navbar{
  font-family: $font-family-nav;
  .navbar-nav{
    @extend .text-uppercase;
  }
}

// Fix for in-page linking in a page with a fixed header.
// Solution nicked from https://github.com/twbs/bootstrap/issues/1768
// FIXME: I don't think pseudo-selectors are working in ios safari? Have this tested on an iPhone!
body.fixedHeader #content .snippetRoot .top1cor:before{ // Correcting for the top bar
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}
body.fixedHeader #content .snippetRoot .top2cor:before{ // Correcting for the top bar, the tool bar and the fixed header
   display: block;
   content: " ";
   margin-top: -195px;
   height: 195px;
   visibility: hidden;
 }


body.fixedHeader .workContent{
  padding-top:188px; //400px; // Our fixed headers height - content should be moved down
}

// text/faksimile tab bar
body.fixedHeader .nav-tab-instance-fixContainer{ // FIXME: This is not following the nameconvention in the rest of the elements!
  position:fixed;
  top:152px;
  right:0;
  left:0;
  z-index:10;
  padding-bottom: 10px;
}

// navbar
body.fixedHeader .workNavbarFixContainer{
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index:10;
}

// header (titlebar)
body.fixedHeader .workHeaderFixContainer{
  position: fixed;
  top: 82px;
  right: 0;
  left: 0;
  padding-bottom: 10px;
  background-color: white;
  z-index:10;
}

body.fixedHeader.modal-open .workNavbarFixContainer, body.fixedHeader.modal-open .workHeaderFixContainer, body.fixedHeader.modal-open .navbar-fixed-top{
    right:15px;
}
