.search{
  padding: $grid-gutter-width 0;
  select{
    margin-right:$grid-gutter-width;
  }
}

/*Zero result text */
#sortAndPerPage .page_entries .lead{
  display:block;

}

/*Search history*/
table.search_history{
  .constraint{
    text-indent: none !important;
  }
  .filterName {
    padding-right:$grid-gutter-width/2;
    display:inline-block;
    min-width:100px;

  }
  td{
    vertical-align: middle !important;
  }
}