


// Contains tools for work
.workNavBar{
  form{
    @extend .pull-right;
  }
  .btn-group{
    .contentSearch, .tableOfContent, #emailLink, #citationLink, #feedbackLink{
      @extend .btn;
      @extend .btn-default;
      border: none;
      background: none;
      color: $gray-light;
      &:hover{
        background: $gray-lighter;
      }
    }
    #emailLink{
      &:before{
        @extend .glyphicon-envelope;
        @extend .glyphicon;
        position: relative;
        padding-right:4px;
      }
    }
    #citationLink{
      &:before{
        @extend .glyphicon-pencil;
        @extend .glyphicon;
        position: relative;
        padding-right:4px;
      }
    }
    #feedbackLink{
      &:before{
        @extend .glyphicon-comment;
        @extend .glyphicon;
        position: relative;
        padding-right:4px;
      }
    }
  }
  #toc ul{
    @extend .list-unstyled;
    padding:0px $grid-gutter-width;
    li a{
      display: block;
      border-bottom: 1px dotted silver;
    }
  }

}

.nav-tab-instance{
  background: $gray-lighter;
  ul{
    border: none;
    padding:0px $grid-gutter-width;
    li{
      margin-bottom: 0px;
       a{
        border: none!important;
      }
    }
  }
}
 .workHeader, .document-metadata .blacklight-author_ssi,
 .workHeader, .document-metadata .blacklight-volume_title_tesim{
   a{
     text-decoration: underline;
   }
 }

.pageBreak{
  display: block;
  margin:$grid-gutter-width/2 0px 0px 0px;
  padding:$grid-gutter-width/2 0px ;
  font-size: $font-size-large;
  line-height: $line-height-base;
  border-top: 1px dotted $gray;
  text-align: center;
  a{

    &:after{
      font-family: 'Glyphicons Halflings';
      content:'\e043';
      margin-left: 5px;

    }
  }
}
.blacklight-catalog-facsimile{
  .pageBreak a:after{
    content:'\e052';

  }

}


.text-content{
  padding-left:$grid-gutter-width;
  padding-right:$grid-gutter-width;
  padding-bottom:$grid-gutter-width;

}

.search-query-form{
  #results-header{
    @extend .alert;
    @extend .alert-success;

  }

}

//Gemte søgninger
span.constraint{
  display:block;
}

// bookmark page
.bookmarksTools{
  #emailLink{
    &:before{
      @extend .glyphicon-envelope;
      @extend .glyphicon;
      position: relative;
      padding-right:4px;
    }
  }
  #citationLink{
    &:before{
      @extend .glyphicon-pencil;
      @extend .glyphicon;
      position: relative;
      padding-right:4px;
    }
  }
}


.alert{
  margin-bottom:0px;
}

.container-fluid{
 // margin-bottom:$grid-gutter-width ;
}

em.highlight{
  background: #FFFFCC;
}

.note{
  margin-left:$grid-gutter-width;
  font-size: 90%;
  line-height: 1.42857143;
  color: $gray-light;
  strong{
    font-weight: bolder!important;
    color: $gray;
  }
}

.dlTxt, dlFaks{
  padding-right:$grid-gutter-width/2;

}




